{% extends "airflow/dag.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head_css %}
{{ super() }}
{% endblock %}

{% block body %}
{{ super() }}
<form method="POST" action="{{ get_url("airflow.update_dag")}}" role="form" enctype="multipart/form-data" class="form-horizontal" id="editDagForm">
    <div class="form-group">
        <label class="col-md-2 control-label">タスク名</label>
        <div class="col-md-3">
            <input autofocus class="form-control" name="dag_id" type="text" value="{{ dag.dag_id }}" pattern="^[_A-z0-9]{1,}$" maxlength="30" required placeholder="task_xxx" {{ 'disabled' if dag.is_preset }}>
        </div>
        <span class="glyphicon glyphicon-info-sign" title="英数字，アンダースコアを30文字まで使用可能です"></span>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">スケジュール</label>
        <div class="col-md-2">
          {% if dag.is_preset -%}
          <input class="form-control" name="schedule_interval" type="text" required value="{{ dag.schedule_interval_pp }}"  maxlength="14" disabled>
          {% else -%}
          <input class="form-control" name="schedule_interval" type="text" required value="{{ dag.schedule_interval_pp }}"  required placeholder="10:00:00" maxlength="14" pattern="^([0-9]{1,2},[0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2})|([0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2})|([0-9]{1,3})|([0-9]{1,2}:[0-9]{1,2})|((Sun|SUN|sun|Mon|MON|mon|Tue|TUE|tue|Wed|WED|wed|Thu|THU|thu|Fri|FRI|fri|Sat|SAT|sat),[0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2})$">
          {% endif %}
        </div>
        <span class="glyphicon glyphicon-info-sign" title="日次:[HH:MM:SS]&#x0A;毎時:[MM:SS]&#x0A;週次:[DDD,HH:MM:SS]&#x0A;月次:[D,HH:MM:SS]&#x0A;M分毎:[M]"></span>
        <div class="help-block with-errors"></div>
    </div>
    <hr>
<table class="table table-striped table-bordered condensed" id='target_info_raw'>
    <thead>
        <tr>
            <th>種別</span></th>
            <th>ターゲット</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% if csa_targets %}
    {% for target in csa_targets %}
    <tr>
        <td class="row col-md-2">
            <div class="col-md-12">
                <div class="form-group">
                    <select class="form-control target_type" name="type" require>
                        <option value="src" {{ 'selected' if target.type=='src' }}>ファイル連携</option>
                        <option value="sql" {{ 'selected' if target.type=='sql' }}>SQL</option>
                    </select>
                </div>
            </div>
        </td>
        <td class="row col-md-8">
            <div class="col-md-12">
                <div class="form-group">
                    <select class="form-control targets" name="target">
                        {% if target.type=='src' %}
                        {% for file_to_table in file_to_tables -%}
                        <option values="{{ file_to_table.schema_name }}.{{ file_to_table.table_name }}" {{ 'selected' if target.target==file_to_table.schema_name+'.'+file_to_table.table_name }}>{{ file_to_table.schema_name }}.{{ file_to_table.table_name }}</option>
                        {% endfor -%}
                        {% else %}
                        {% for sql in sqls -%}
                        <option values="{{ sql.sql_name }}" {{ 'selected' if target.target==sql.sql_name}}>{{ sql.sql_name }}</option>
                        {% endfor -%}
                        {% endif %}
                    </select>
                </div>
            </div>
        </td>
        <td class="row text-center col-md-1"><nobr>
            <a href="#" class="btn btn-default btn-sm move down" role="button"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
            <a href="#" class="btn btn-default btn-sm move up" role="button"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
            <a href="#" class="btn btn-default btn-sm add" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            <a href="#" class="btn btn-default btn-sm delete" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
        </nobr></td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td class="row col-md-2">
            <div class="col-md-12">
                <div class="form-group">
                    <select class="form-control target_type" name="type" require>
                        <option value="src" selected>ファイル連携</option>
                        <option value="sql">SQL</option>
                    </select>
                </div>
            </div>
        </td>
        <td class="row col-md-8">
            <div class="col-md-12">
                <div class="form-group">
                  <select class="form-control targets" name="target">
                        {% for file_to_table in file_to_tables -%}
                        <option values="{{ file_to_table.schema_name }}.{{ file_to_table.table_name }}">{{ file_to_table.schema_name }}.{{ file_to_table.table_name }}</option>
                        {% endfor -%}
                  </select>
                </div>
            </div>
        </td>
        <td class="row text-center col-md-1"><nobr>
            <a href="#" class="btn btn-default btn-sm move down" role="button"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
            <a href="#" class="btn btn-default btn-sm move up" role="button"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
            <a href="#" class="btn btn-default btn-sm add" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            <a href="#" class="btn btn-default btn-sm delete" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
        </nobr></td>
    </tr>
    {% endif %}
    </tbody>
</table>
<hr>
<div class="form-group">
    <button type="submit" class="btn btn-primary validate" role=button id="submit_dag_info">更新</button>
    <a href="{{ url_for("airflow.dag_edit", dag_id=dag.dag_id) }}" class="btn btn-default" role=button>元に戻す</a>
    <a href="{{ url_for("airflow.trash", dag_id=dag.dag_id) }}" class="btn btn-danger" role=button  {{ 'disabled' if dag.is_preset }}>タスクの削除</a>
    {% if csrf_token %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="new_targets" value="" id="target_info"/>
    <input type="hidden" name="base_dag_id" value="{{ dag.dag_id }}"/>
    {% endif %}
</div>
</form>
{% endblock %}

{% block tail %}
{{ super() }}
    <script src="{{ url_for('static', filename='validator.min.js') }}"></script>
    <script>
     $(document).ready(function() {
         $("#editDagForm").validator();
         $(".multiple-select").select2();

         $('table').on('click','.delete',function(){
             $(this).parents('tr').remove();
             $("#editDagForm").validator('update');
         });

         $('table').on('click','.add',function(){
             $(".multiple-select").select2("destroy");
             var row = $(this).closest('tr');
             var clone = row.clone();
             clone.find(':text').val('');
             clone.find('ul').remove();
             clone.find('.target_type').change(function() {
                 var target_type = $(this).val();
                 var $s = $(this).closest('tr').find(".targets");
                 setTargets($s, target_type);
             });
             clone.find('.target_type').prop('selectedIndex', 0);
             setTargets(clone.find('.targets'), clone.find('.target_type').val());
             row.after(clone);
             $("#editDagForm").validator('update');
             $(".multiple-select").select2();
         });

         $('table').on('click','.move',function(){
             var row = $(this).closest('tr');
             if ($(this).hasClass('up')){
                 row.prev().before(row);
             }else{
                 row.next().after(row);
             }
         });

         $('#submit_dag_info').on('click', function(){
             var info = $('#target_info_raw tbody tr').map(function() {
                 var elems = {};
                 $(this).children('td').each(function() {
                     var e = $(this).find('input:first,select:first');
                     if (e.attr('name') != null) {
                         var val = e.val();
                         elems[e.attr('name')] = val;
                     }
                 });
                 return elems;
             }).get();
             var j = JSON.stringify(info);
             $("#target_info").val(j);
         });

         var all_targets = [
             {% for sql in sqls -%}
             { type: 'sql', target: '{{ sql.sql_name}}'},
             {% endfor -%}
             {% for file_to_table in file_to_tables -%}
             { type: 'src', target: '{{ file_to_table.schema_name}}.{{ file_to_table.table_name }}'},
             {% endfor -%}
             { type: 'terminate', target: ''}
         ]
         $('.target_type').change(function() {
             var target_type = $(this).val();
             var $s = $(this).closest('tr').find(".targets");
             setTargets($s, target_type);
         });
         function setTargets(type_select, target_type) {
             var $s = type_select;
             $s.find('option').remove();
             $(all_targets).each(function(i, val) {
                 if (val.type == target_type){
                     $s.append($('<option>')
                                          .attr('type', val.type)
                                          .val(val.target)
                                          .text(val.target));
                 }
             });
         };
     });
    </script>
{% endblock %}
