{% extends "airflow/master.html" %}

{% block title %}CSA タスク{% endblock %}

{% block head_css %}
{{ super() }}
<link href="{{ url_for("static", filename="dataTables.bootstrap.css") }}" rel="stylesheet" type="text/css" >
<link href="{{ url_for("static", filename="bootstrap-toggle.min.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
  <h2>タスク</h2>

  <div id="main_content" style="display:none;">
    <table id="dags" class="table table-striped table-bordered">
        <thead>
            <tr>
                <!-- <th></th> -->
                <th width="12"><span id="pause_header"class="glyphicon glyphicon-info-sign" title="タスクのスケジュール状態を切り替えます。OFFの場合、スケジュールは一時停止します。実行中のタスクは止まりません。"></span></th>
                <th>タスク</th>
                <th>スケジュール</th>
                <!-- <th>Owner</th> -->
                <th style="padding-left: 5px;">実行履歴カウンター
                  <!-- <span id="statuses_info" class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Status of tasks from all active DAG runs or, if not currently active, from most recent run."></span> -->
                  <!-- <img id="loading" width="15" src="{{ url_for("static", filename="loading.gif") }}"> -->
                </th>
                <th class="text-center">リンク</th>
            </tr>
        </thead>
        <tbody>
        {% for dag_id in all_dag_ids %}
            {% set dag = dags[dag_id] if dag_id in dags else None %}
            {% if dag and dag_id in orm_dags and not orm_dags[dag_id].is_deleted %}
            <tr>
                <!-- <td class="text-center" style="width:10px;">
                     {% if dag_id in orm_dags %}
                     <a href="/admin/dagmodel/edit/?id={{ dag_id }}" title="Info">
                     <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                     </a>
                     {% endif %}
                     </td> -->
                <td>
                  {% if dag_id in orm_dags %}
                    <input id="toggle-{{ dag_id }}" dag_id="{{ dag_id }}" type="checkbox" {{ "checked" if not orm_dags[dag_id].is_paused else "" }} data-toggle="toggle" data-size="mini">
                  {% endif %}
                </td>
                <td>
                    {% if dag %}
                    <a href="{{ url_for('airflow.dag_edit', dag_id=dag.dag_id) }}">
                        {{ dag_id }}
                    </a>
                    {% else %}
                        {{ dag_id }}
                        <span class="glyphicon glyphicon-info-sign" class="info" aria-hidden="true" title="This DAG isn't available in the web server's DagBag object. It shows up in this list because the scheduler marked it as active in the metdata database."></span>
                    {% endif %}
                    {% if dag_id not in orm_dags and False %}
                        <span class="glyphicon glyphicon-info-sign" class="info" aria-hidden="true" title="This DAG seems to be existing only locally. The master scheduler doesn't seem to be aware of its existence."></span>
                    {% endif %}
                </td>
                <td>
                    <a class="label label-default schedule {{ dag.dag_id }}" href="#">
                        {{ dag.schedule_interval_unit }}: {{ dag.schedule_interval_pp }}
                  </a>
                </td>
                <!-- <td>{{ dag.owner if dag else orm_dags[dag_id].owners }}</td> -->
                <td style="padding:0px; width:200px; height:10px;">
                    <svg height="10" width="10" id='dag-{{ dag.safe_dag_id }}' style="display: block;"></svg>
                </td>
                <td class="text-center" style="width:160px;"><nobr>
                {% if dag %}
    <a href="{{ url_for("airflow.dag_edit", dag_id=dag.dag_id) }}" title="詳細">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
    </a>
    <a href="{{ url_for("airflow.tree", dag_id=dag.dag_id, num_runs=25) }}" title="ツリー">
        <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
    </a>
    <a href="{{ url_for("airflow.graph", dag_id=dag.dag_id) }}" title="グラフ">
        <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
      </a>
    <a href="{{ url_for("airflow.duration", dag_id=dag.dag_id) }}" title="実行時間">
        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
    </a>
      <a href="{{ url_for("airflow.landing_times", dag_id=dag.dag_id) }}" title="ランディングタイム">
        <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
      </a>
      <a href="{{ url_for("airflow.gantt", dag_id=dag.dag_id) }}" title="ガントチャート">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
        <i class="icon-align-left"></i>
      </a>
      <!-- <a href="#" data-toggle="modal" onClick="showRemoveDagModal('{{ dag.dag_id }}')" title="タスクの削除">
           <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
           </a> -->
      <!-- <a href="{{ url_for("airflow.code", dag_id=dag.dag_id) }}" title="Code View"> -->
      <!--   <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> -->
      <!-- </a> -->
      <!-- <a href="/admin/log/?sort=1&desc=1&flt1_dag_id_equals={{ dag.dag_id }}" title="Logs"> -->
      <!--    <i class="icon-list"></i> -->
      <!--    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> -->
      <!-- </a> -->
                {% endif %}
                    <a href="{{ url_for("airflow.refresh", dag_id=dag_id) }}" title="Refresh">
                      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </a>
                    </nobr>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDagModal">タスクの追加</button>
    <!-- Modal -->
    <div class="modal fade" id="addDagModal" tabindex="-1" role="dialog" aria-labelledby="addDagModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" action="{{ get_url('airflow.add_dag')}}" role="form" class="form-horizontal" enctype="multipart/form-data">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">タスクの追加</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="fileloc" class="col-md-4 control-label">タスク名</label>
                            <div class="col-md-4">
                                <input class="form-control" name="dag_id" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fileloc" class="col-md-4 control-label">スケジュール</label>
                            <div class="col-md-4">
                                <input class="form-control" name="schedule_interval" type="text" value="">
                            </div>
                        </div>
                        {% if csrf_token %}
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <!-- <div class="form-group"> -->
                            <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                            <button type="submit" class="btn btn-primary">追加</button>
                            <!-- </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="removeDagModal" tabindex="-1" role="dialog" aria-labelledby="addDagModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">タスクの削除</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                    <button type="submit" id="removeDagSubmit" class="btn btn-primary">削除</button>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block tail %}
  {{ super() }}
  <script src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap-toggle.min.js') }}"></script>
  <script>
      all_dags = $("[id^=toggle]");
      $.each(all_dags, function(i,v) {
        $(v).change (function() {
          var dag_id =  $(v).attr('dag_id');
          if ($(v).prop('checked')) {
            is_paused = 'true'
          } else {
            is_paused = 'false'
          }
          url = 'airflow/paused?is_paused=' + is_paused + '&dag_id=' + dag_id;
          $.ajax(url);
        });
      });
      $('#dags').dataTable({
        "language": {
          "url": "{{ url_for('static', filename='jquery.dataTable.plugin.japanese.json')}}"
        },
        "iDisplayLength": 500,
        "bSort": false
      });
      $("#main_content").show(250);
      diameter = 25;
      circle_margin = 4;
      stroke_width = 2;
      stroke_width_hover = 6;
      d3.json("{{ url_for('airflow.blocked') }}", function(error, json) {
        $.each(json, function() {
          $('.label.schedule.' + this.dag_id)
          .attr('title', this.active_dag_run + '/' + this.max_active_runs + ' active dag runs')
          .tooltip();
          if(this.active_dag_run >= this.max_active_runs) {
            $('.label.schedule.' + this.dag_id)
            .css('background-color', 'red');
          }
        });
      });
      d3.json("{{ url_for('airflow.dag_stats') }}", function(error, json) {
        for(var dag_id in json) {
            states = json[dag_id];
            g = d3.select('svg#dag-' + dag_id)
              .attr('height', diameter + (stroke_width_hover * 2))
              .attr('width', '180px')
              .selectAll("g")
              .data(states)
              .enter()
              .append('g')
              .attr('transform', function(d, i) {
                x = (i * (diameter + circle_margin)) + (diameter/2 + circle_margin);
                y = (diameter/2) + stroke_width_hover;
                return 'translate(' + x + ',' + y + ')';
              });

            g.append('text')
              .attr('fill', 'black')
              .attr('text-anchor', 'middle')
              .attr('vertical-align', 'middle')
              .attr('font-size', 8)
              .attr('y', 3)
              .text(function(d){ return d.count > 0 ? d.count : ''; });

            g.append('circle')
              .attr('stroke-width', function(d) {
                  if (d.count > 0)
                    return stroke_width;
                  else {
                    return 1;
                  }
              })
              .attr('stroke', function(d) {
                  if (d.count > 0)
                    return d.color;
                  else {
                    return 'gainsboro';
                  }
              })
              .attr('fill-opacity', 0)
              .attr('r', diameter/2)
              .attr('title', function(d) {return d.state})
              .attr('style', function(d) {
                if (d.count > 0)
                    return"cursor:pointer;"
              })
              .on('click', function(d, i) {
                  if (d.count > 0)
                    window.location = "/admin/taskinstance/?flt1_dag_id_equals=" + d.dag_id + "&flt2_state_equals=" + d.state;
              })
              .on('mouseover', function(d, i) {
                if (d.count > 0) {
                    d3.select(this).transition().duration(400)
                      .attr('fill-opacity', 0.3)
                      .style("stroke-width", stroke_width_hover);
                }
              })
              .on('mouseout', function(d, i) {
                if (d.count > 0) {
                    d3.select(this).transition().duration(400)
                      .attr('fill-opacity', 0)
                      .style("stroke-width", stroke_width);
                }
              })
              .style("opacity", 0)
              .transition()
              .duration(500)
              .delay(function(d, i){return i*50;})
              .style("opacity", 1);
            d3.select("#loading").remove();
        }
        $("#pause_header").tooltip();
        $("#statuses_info").tooltip();

        $("circle").tooltip({
          html: true,
          container: "body",
        });
      });
   function showRemoveDagModal(dag_id){
       $("#removeDagModal .modal-body").html(dag_id + " を削除します。")
   }
  </script>
{% endblock %}
